@charset "utf-8";
/* css document */
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap');

@fontface {
	font-family: 'distant';
	src: url(fontovi/DISTGRG_.ttf);
	font-style: bold;
	font-weight: 600;
}

@fontface {
	font-family: 'distant';
	src: url(fontovi/DISTGRG_.ttf);
	font-style: normal;
	font-weight: 200;
}
.image-container {
    text-align: center;
}
img {
    width: 300px;
}
h1 {
	color: white;
	font-size: 45px;
	text-align: center;
	font-family: 'distant';
	font-weight: 600;
}
h2 {
	color: white;
	text-align: center;
	font-family: "Space Mono", monospace;
	
}

h3 {
	color: white;
	text-align: center;
	font-family: "Space Mono", monospace;
	margin: 20px;
	padding: 20px;
	
}
#p1 {
	color: white;	
	font-size: 25px;
	text-align: center;
	font-family: 'distant';
	font-weight: 200;
	line-height: 30px;
	width: 1500px;
	background-color: lightblue;
	
		
}

#p2 {
	color: pink;
	font-size: 20px;
	text-align: center;
	font-family: "Space Mono", monospace;
}

body {
    background-image: url('Stranice/madhuvan-yadav-GRIRnUHkzJY-unsplash.jpg'); 
	background-size: cover
}